body {
  font-family: sans-serif;
height:100vh;
  background: lavender;
}
.container {
display:flex;
flex-direction:column;
}
.header {
padding:10px;
display: flex;
flex-direction:row;
gap:5px;
}
#chat-box {
  padding: 10px;
  flex:1;
  overflow-y: scroll;
  background: #fff;
}
input-group {
padding:10px;
display:flex;
flex-direction:row;
}
input {
  padding: 8px;
  flex:1;
}
button {
  padding: 10px;
  background: violet
  color: white;
  border: none;
  border-radius: 30px;
}
